.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.4);
}

.App-header{
    margin-left: 250px;
}

.home-link{
    text-decoration: none;
    cursor: pointer;
    color: rgb(224, 222, 222);
}

.home-link:visited{
    text-decoration: none;
    cursor: pointer;
    color: rgb(224, 222, 222);
}